<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filter by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                {{ showImage ? "Hide" : "Show" }} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Availabe</th>
            <th>Price</th>
            <th>Star rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of products">
            <td>
              <img
                *ngIf="showImage"
                [src]="products.imageUrl"
                [title]="products.productName"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
              />
            </td>
            <td>{{ products.productName }}</td>
            <td>{{ products.productCode | lowercase | convertToSpaces: '-' }}</td>
            <td>{{ products.releaseDate }}</td>
            <td>{{ products.price | currency: "USD":"symbol":"1.2-2" }}</td>
            <td>{{ products.starRating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
